*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* background */
  --bg: #19242e;
  --fg: #46d5fc;

  /* board */
  --bg-board: #0c1219;
  --bg-board-border: #00000055;

  /* border size */
  --sz-board-border: 0.2rem;
  --sz-board-outline: 1.5em;

  /* snake */
  --bg-snake-body: #6e8293;
  --bg-snake-head: #a5d5ff;

  /* apple */
  --bg-apple: #8bd0ab;
  --bg-apple: #f46161;

  /* messages */
  --bg-overlay: #19242e88;
  --bg-overlay-shadow: #0e151bee;

  /* message colors */
  --fg-message-win: #67be44;
}

html {
  font-size: 0.625rem;
}

body {
  height: 100vh;
  font-size: 1.6rem;

  color: var(--fg);
}

/* snake game */
main.snake-game {
  height: 100%;

  background-color: var(--bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* board */
section.board {
  box-sizing: content-box;
  background-color: var(--bg-board);

  position: relative;

  box-shadow: 0 0 1rem var(--bg-board);
  border: var(--sz-board-border) solid var(--bg);
  outline: var(--sz-board-outline) solid var(--bg-board-border);
  border-radius: 0.1rem;
}

/* blocks */

/* snake body, snake apple */
section.board .snake-body,
section.board .snake-apple {
  position: absolute;

  background-color: var(--bg-snake-body);
  box-shadow: 0 0 0.2rem var(--bg-snake-body);
}

/* snake head */
section.board .snake-head {
  background-color: var(--bg-snake-head);
  box-shadow: 0 0 0.2rem var(--bg-snake-head);

  border-radius: 0.1rem;

  z-index: 2;
}

/* snake apple */
section.board .snake-apple {
  background-color: var(--bg-apple);
  box-shadow: 0 0 0.2rem var(--bg-apple);

  border-radius: 0.2rem;

  transition: all 0.2s;
  z-index: 1;
}

/* messages */
section.board .board-message {
  cursor: pointer;

  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  background-color: var(--bg-overlay);
  box-shadow: 0 0 5em 5em var(--bg-overlay-shadow) inset;

  border-radius: 0.2rem;
  text-transform: capitalize;

  /* hidden */
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;

  z-index: 10;
}

/* display message */
section.board .message-active {
  visibility: visible;
  opacity: 1;
}

/* type of messages */
section.board .message-win {
  color: var(--fg-message-win);
}
