*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* main */
  --bg: #101010;
  --fg: #b3b8c4;

  /* container */
  --bg-container: #111314;
  --bg-container-border: #303638;

  /* snake */
  --bg-snake-body: #9c9c9c;
  --bg-snake-head: #ddfffa;

  /* apple */
  --bg-apple: #fb2f47;
  --bg-apple-moving: var(--bg-container);
}

html {
  font-size: 0.625rem;
}

body {
  height: 100vh;
}

main.snake-game {
  overflow: hidden;
  height: 100%;

  display: grid;
  place-items: center;

  font-size: 1.6rem;

  background-color: var(--bg);
  color: var(--fg);
}

main.snake-game .container {
  background-color: var(--bg-container);

  border: 0.3rem solid var(--bg-container-border);
  border-radius: 0.2rem;
}

main.snake-game #board {
  position: relative;
}

/* blocks */

/* snake body, snake apple */
.board .snake-body,
.board .snake-head,
.board .apple {
  position: absolute;

  background-color: var(--bg-snake-body);
  box-shadow: 0 0 0.4rem var(--bg-snake-body);

  border-radius: 0.3rem;
  aspect-ratio: 1;
}

/* snake head */
.board .snake-head {
  background-color: var(--bg-snake-head);
  box-shadow: 0 0 0.3rem var(--bg-snake-head);

  z-index: 2;
}

/* snake apple */
.board .apple {
  background-color: var(--bg-apple);
  box-shadow: 0 0 0.3rem var(--bg-apple);

  transition: all 0.3s;
  z-index: 1;
}
